<table class="table table-bordered border-primary table-hover table-sm posts_table">
  <thead class="bg-info text-light">
    <tr>
      <th scope="col">質問内容</th>
      <th scope="col">回答例</th>

    </tr>
  </thead>
  <tbody>
    <% current_user.post_likes.each do |post_like| %>
      <tr>
        <th><%= post_like.post.question_title %></th>
          <td><%= truncate(post_like.post.answer, length: 20) do %>
            <p><%= link_to '詳細をみる', post_path(post_like.post.id) %><p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>