<div class="card">
  <div class="card-header bg-info text-white">
      <h4><%= @post.question_title %></h4>
  </div>
  <div class="card-body">
      <p class="card-text"><%= simple_format(@post.answer) %></p>
  </div>
</div>
<%= link_to "戻る", :back %>